# House Price Prediction â€“ Data Understanding

## Objective
The objective of this notebook is to understand the structure, features, and basic characteristics of the house price dataset before performing any data cleaning or modeling.

Import Libraries

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import pandas as pd
import numpy as np

In [6]:
file_path = '/content/drive/MyDrive/House Price India.csv'
data = pd.read_csv(file_path)
print(data.head())

           id   Date  No of bedrooms  No of bathrooms  living area  lot area  \
0  6762810635  42491               4             2.50         2920      4000
1  6762810998  42491               5             2.75         2910      9480
2  6762812605  42491               4             2.50         3310     42998
3  6762812919  42491               3             2.00         2710      4500
4  6762813105  42491               3             2.50         2600      4750

   No of floors  waterfront present  No of views  house condition  ...  \
0           1.5                   0            0                5  ...
1           1.5                   0            0                3  ...
2           2.0                   0            0                3  ...
3           1.5                   0            0                4  ...
4           1.0                   0            0                4  ...

   Built Year  Renovation Year  Postal Code  Lattitude  Longitude  \
0        1909                0       122004    52.8878   -114.470
1        1939                0       122004    52.8852   -114.468
2        2001                0       122005    52.9532   -114.321
3        1929                0       122006    52.9047   -114.485
4        1951                0       122007    52.9133   -114.590

   living_area_renov  lot_area_renov  No of schools nearby  \
0               2470            4000                     2
1               2940            6600                     1
2               3350           42847                     3
3               2060            4500                     1
4               2380            4750                     1

   Distance from the airport    Price
0                         51  1400000
1                         53  1200000
2                         76   838000
3                         51   805000
4                         67   790000

[5 rows x 23 columns]

In [42]:
data.shape

(14619, 23)

- The dataset contains **14619** rows and **23** columns.

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14619 entries, 0 to 14618
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14619 non-null  int64
 1   Date                            14619 non-null  int64
 2   No of bedrooms                  14619 non-null  int64
 3   No of bathrooms                 14619 non-null  float64
 4   living area                     14619 non-null  int64
 5   lot area                        14619 non-null  int64
 6   No of floors                    14619 non-null  float64
 7   waterfront present              14619 non-null  int64
 8   No of views                     14619 non-null  int64
 9   house condition                 14619 non-null  int64
 10  house grade                     14619 non-null  int64
 11  house area(excluding basement)  14619 non-null  int64
 12  Area of the basement            14619 non-null  int64
 13  Built Year                      14619 non-null  int64
 14  Renovation Year                 14619 non-null  int64
 15  Postal Code                     14619 non-null  int64
 16  Lattitude                       14619 non-null  float64
 17  Longitude                       14619 non-null  float64
 18  living_area_renov               14619 non-null  int64
 19  lot_area_renov                  14619 non-null  int64
 20  No of schools nearby            14619 non-null  int64
 21  Distance from the airport       14619 non-null  int64
 22  Price                           14619 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

- The dataset contains only numerical features.

In [44]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
id,14619.0,6.762821e+09,6237.161975,6.762810e+09,6.762815e+09,6.762821e+09,6.762826e+09,6.762832e+09
Date,14619.0,4.260455e+04,67.343747,4.249100e+04,4.254600e+04,4.260000e+04,4.266200e+04,4.273400e+04
No of bedrooms,14619.0,3.379233e+00,0.938655,1.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,3.300000e+01
No of bathrooms,14619.0,2.129557e+00,0.769955,5.000000e-01,1.750000e+00,2.250000e+00,2.500000e+00,8.000000e+00
living area,14619.0,2.098157e+03,928.218740,3.700000e+02,1.440000e+03,1.930000e+03,2.570000e+03,1.354000e+04
lot area,14619.0,1.509369e+04,37920.885355,5.200000e+02,5.010500e+03,7.620000e+03,1.080000e+04,1.074218e+06
No of floors,14619.0,1.502326e+00,0.540241,1.000000e+00,1.000000e+00,1.500000e+00,2.000000e+00,3.500000e+00
waterfront present,14619.0,7.661263e-03,0.087196,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
No of views,14619.0,2.328477e-01,0.765651,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
house condition,14619.0,3.430399e+00,0.664047,1.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,5.000000e+00
house grade,14619.0,7.682263e+00,1.174917,4.000000e+00,7.000000e+00,7.000000e+00,8.000000e+00,1.300000e+01
house area(excluding basement),14619.0,1.801677e+03,833.737588,3.700000e+02,1.200000e+03,1.580000e+03,2.240000e+03,9.410000e+03
Area of the basement,14619.0,2.964802e+02,448.566731,0.000000e+00,0.000000e+00,0.000000e+00,5.800000e+02,4.820000e+03
Built Year,14619.0,1.970930e+03,29.491743,1.900000e+03,1.951000e+03,1.975000e+03,1.997000e+03,2.015000e+03
Renovation Year,14619.0,9.093023e+01,416.230218,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.015000e+03
Postal Code,14619.0,1.220331e+05,19.081451,1.220030e+05,1.220170e+05,1.220320e+05,1.220480e+05,1.220720e+05
Lattitude,14619.0,5.279284e+01,0.137525,5.238590e+01,5.270760e+01,5.280640e+01,5.290890e+01,5.300760e+01
Longitude,14619.0,-1.144040e+02,0.141325,-1.147090e+02,-1.145190e+02,-1.144210e+02,-1.143150e+02,-1.135050e+02
living_area_renov,14619.0,1.996642e+03,691.078387,4.600000e+02,1.490000e+03,1.850000e+03,2.380000e+03,6.110000e+03
lot_area_renov,14619.0,1.275400e+04,26059.234785,6.510000e+02,5.097500e+03,7.620000e+03,1.012500e+04,5.606170e+05
No of schools nearby,14619.0,2.012244e+00,0.817312,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00
Distance from the airport,14619.0,6.495143e+01,8.936129,5.000000e+01,5.700000e+01,6.500000e+01,7.300000e+01,8.000000e+01
Price,14619.0,5.388063e+05,367229.358831,7.800000e+04,3.200000e+05,4.500000e+05,6.450000e+05,7.700000e+06

- House prices show variation across the dataset.
- Numerical features have different ranges, indicating the need for scaling later

In [51]:
data.columns

Index(['id', 'Date', 'No of bedrooms', 'No of bathrooms', 'living area',
       'lot area', 'No of floors', 'waterfront present', 'No of views',
       'house condition', 'house grade', 'house area(excluding basement)',
       'Area of the basement', 'Built Year', 'Renovation Year', 'Postal Code',
       'Lattitude', 'Longitude', 'living_area_renov', 'lot_area_renov',
       'No of schools nearby', 'Distance from the airport', 'Price'],
      dtype='object')

## Target Variable

- The target variable for this project is **Price** (house selling price).

In [53]:
data['No of bathrooms'].unique()

array([2.5 , 2.75, 2.  , 3.25, 1.75, 2.25, 1.  , 1.5 , 3.  , 8.  , 3.5 ,
       4.25, 4.  , 5.  , 3.75, 4.5 , 5.75, 1.25, 6.5 , 4.75, 0.75, 5.25,
       5.5 , 6.25, 6.75, 7.5 , 0.5 , 6.  , 7.75])

In [54]:
data['Price'].unique()

array([1400000, 1200000,  838000, ...,  221700,  219200,  146000])

## Feature Types

- All features in this dataset are numerical.
- No categorical variables are present.
- Therefore, encoding techniques are not required for this dataset.